body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #202020;
    color: #dbd6d6;
}

body {
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #222;
    color: #fff;
}

header .logo img {
    width: 50px;
    margin-right: 10px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.schedule-section {
    padding: 50px 20px;
    background-color: #2a2a2a;
    text-align: center;
}

.schedule-section h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.schedule-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242424;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(112, 112, 112, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.schedule-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.schedule-time {
    font-weight: 700;
    font-size: 1.2rem;
    margin-right: 20px;
}

.schedule-details {
    font-size: 1.2rem;
    color: #ffffff;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #2a2a2a;
    color: #ffffff;
}
.redirect-button {
    background-color: #e64545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.redirect-button:hover {
    background-color: #c73535;
}
